.equipselector {
    background-color: #505050;
    position: absolute;
    z-index: 100;
}
.equipslot {
    width: 100%;
    height: 3em;
    margin-bottom: 5px;
    border: 1px solid black;
}
.equipslot p {
    margin-left: 0.5em;
    margin-bottom: 2px;
    font-size: 1em;
    white-space: nowrap;
    cursor: pointer;
}
.equipslot img {
    float: left;
    height: 100%;
    width: 3em;
    cursor: pointer;
}
.equiplabel {
    width: calc(100% - 3em);
    height: 100%;
    margin-left: 3em;
    text-align: left;
}
.equiplabel div {
    margin-left: 1em;
    margin-bottom: 0.5em;
}
.gemslot {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 1em;
    background-color: #4d4d4d;
    height: 1.1em;
    width: 1.1em;
    float: left;
    cursor: pointer;
}
.enchslot {
    margin-right: 1em;
    background-image: url("../icons/Trade/Trade_Engraving.png");
    background-size: contain;
    height: 1.1em;
    width: 1.1em;
    float: left;
    cursor: pointer;
}
#gearstats {
    background-color: #404040;
    height: 90%;
    margin-left: auto;
}
#gearstats table {
    width: 100%;
}
#gearstats table tr {
    text-align: right;
}
#calcdiv {
    flex: 1;
}
.equipselitem {
    cursor: pointer;
}
.equipselitem:hover {
    color: orange;
}
.lisearch {
    border: 1px solid orange;
    margin: -1px;
}
button:hover {
    color: #F0F0F0;
    background-color: #aa6900;
}
button {
    background-color: #a36500;
    color: #E0E0E0;
    cursor: pointer;
}
input:focus {
    outline: none !important;
    border:1px solid orange;
}
h2, h3, h4, pre, input {
    color: #D0D0D0;
    background-color: #303030;
}
h4 {
    font-size: 1em;
}
#gear li:hover {
    color: orange;
}
#gear li:active {
    color: orange;
}
.uk-tab {
    color: #D0D0D0;
}
.uk-tab > .uk-active > a {
    background-color: #303030;
    color: #D0D0D0;
}
.uk-tab > * > a:hover {
    color: #F0F0F0;
}
.uk-tab > .uk-active > a:hover {
    color: #F0F0F0;
}
.uk-button:hover {
    color: #F0F0F0;
    border:1px solid orange;
}
.uk-button:active, .uk-button:focus {
    color: #F0F0F0;
    border:1px solid orange;
}
.uk-button {
    line-height: 1.1;
    width: 90%;
    height: 40px;
    padding: 1px;
    color: #D0D0D0;
}
.uk-dropdown {
    color: #D0D0D0;
    background-color: #404040;
}
.uk-dropdown-nav {
    width: 300px;
    color: #D0D0D0;
    background-color: #404040;
}
.buffs {
    margin: 7px !important;
    background-color: #404040;
    padding: 3px;
}
.buffdrop {
    background-color: #404040;
    color: #F0F0F0;
}
.hastetable {
    margin: 15px auto;
    border-collapse: collapse;
    background-color: #505050;
    border:1px solid #D0D0D0;
}
.hastetable td {
    padding: 10px;
    border:1px solid #D0D0D0;
}

html, body {
    background-color: #303030;
    color: #D0D0D0;
}
#root {
    max-width: 1600px;
    margin: 0px auto;
    padding: 5px;
    height: 90%;
    box-shadow: 0px 0px 5px #101010;
    border: 1px solid #101010;
}
@media only screen and (min-width: 1640px) {
    #root {
        box-shadow: 8px 8px 5px #101010;
        border: 1px solid #101010;
        max-width: 1620px;
        padding: 10px;
        transition: all 1.0s ease-in-out;
    }
}