#pullout {
    height: 100%;
    position: fixed;
    width: 220px;
    right: -180;
    top: 0;
}
#rotstats text {
    border-right: 3px solid #1e87f0;
    border-left: 3px solid #1e87f0;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 5px;
    margin-left: 5px;
}
.simnums {
    font-size: 1.8em;
    margin-left: 10px;
}
.statpop {
    z-index: 100;
    position: relative;
    top: -25px;
    left: 55px;
    width: 300px;
    text-align: left;
    border: 1px solid black;
}
.equipselector {
    position: absolute;
    z-index: 100;
    width: 400px;
    border:1px solid black;
}
.equipselector > button {
    float: right;
}
.equipselector .gemslot {
    height: 2em;
    width: 2em;
}
.selectortabs {
    border-bottom: 1px solid black;
    height: 30px;
    margin-bottom: 5px;
    font-size: 1.15em;
}
.selectortab.selactive{
    border-bottom: 2px solid #1e87f0;
    padding-bottom: 2px;
}
.selectortab {
    float: left;
    margin-left: 10px;
}
.selectortab:hover {
    color: orange;
    cursor: pointer;
}
.equipslot {
    width: 100%;
    height: 3em;
    margin-bottom: 5px;
    border: 1px solid black;
}
.equipslot p {
    margin-left: 0.5em;
    margin-bottom: 2px;
    font-size: 1em;
    white-space: nowrap;
    cursor: pointer;
}
.equipslot img {
    float: left;
    height: 100%;
    width: 3em;
    cursor: pointer;
}
.equiplabel {
    width: calc(100% - 3em);
    height: 100%;
    margin-left: 3em;
    text-align: left;
}
.equiplabel div {
    margin-left: 1em;
}
.gemselectorlist > div:hover { 
    cursor: pointer;
    color: #F0F0F0;
    background-color: #606060;
}
.gemslot {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 1em;
    height: 1.1em;
    width: 1.1em;
    float: left;
    cursor: pointer;
}
.enchslot {
    margin-right: 1em;
    background-image: url("../icons/Trade/Trade_Engraving.png");
    background-size: contain;
    height: 1.1em;
    width: 1.1em;
    float: left;
    cursor: pointer;
}
#gearstats {
    height: 90%;
    margin-left: auto;
}
#gearstats table {
    width: 100%;
}
#gearstats table tr {
    text-align: right;
}
#calcdiv {
    flex: 1;
}
.equipselitem {
    cursor: pointer;
}
.equipselitem:hover {
    color: orange;
    background-color: #606060;
}
.equipselitem:active {
    color: orange;
}
.lisearch {
    border: 1px solid orange;
    margin: -1px;
}
h4 {
    font-size: 1em;
}
#gear li:hover {
    color: orange;
}
.uk-button {
    line-height: 1.1;
    width: 90%;
    height: 40px;
    padding: 1px;
    /* color: #D0D0D0; */
}
.uk-dropdown {
    /* color: #D0D0D0; */
    /* background-color: #404040; */
    background-color: #E0E0E0;
}
.uk-dropdown-nav {
    width: 300px;
    /* color: #D0D0D0; */
    /* background-color: #404040; */
    background-color: #E0E0E0;
}
.buffs {
    margin: 7px !important;
    padding: 3px;
}

.buffdrop {
    /* background-color: #404040; */
    /* color: #F0F0F0; */
    background-color: #E0E0E0;
}

.hastetable {
    margin: 15px auto;
    border-collapse: collapse;
    /* background-color: #505050; */
    border:1px solid #D0D0D0;
}

.hastetable td {
    padding: 10px;
    border:1px solid #D0D0D0;
}

#root {
    height: 100%;
}

.lighttheme {
    background-color: #F0F0F0;
    color: #303030;
}
.ltl {
    background-color: #FFFFFF;
    color: #303030;
}
.ltm {
    background-color: #EEEEEE;
    color: #303030;
}
.ltd {
    background-color: #D0D0D0;
    color: #303030;
}

.darktheme {
    background-color: #303030;
    color: #D0D0D0;
}
.dtl {
    background-color: #505050;
}
.dtm {
    background-color: #404040;
}
.dtd {
    color: #D0D0D0;
    background-color: #202020;
}

.gemc2 {
    color: #A6261b;
}
.gemc3 {
    color: #589BE1;
}
.gemc4 {
    color: #D0C139;
}
.gemc5 {
    color: #436904;
}
.gemc6 {
    color: #B27300;
}
.gemc7 {
    color: #A3178A;
}
.gemc8 {
    color: #FFFFFF;
}
